@import "./base/base";
@import "./base/typography";

@import "./components/button";

@import "./pages/home";

@import "./layout/header";
@import "./layout/features";
@import "./layout/about-us";
@import './layout/first-blog';
@import './layout/second-blog';
@import './layout/footer';

@import './media/media';