.about-us {
    

    &__heading {
        margin-bottom: 9rem;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        padding-right: 22rem;
    }

    &__content {
        flex-basis: 40%;
    }

    &__list {
        list-style-image: url(../img/marker-1.png);
        padding-left: 11rem;
    }

    &__item {
      padding-left: 2rem;
      margin-bottom: 6rem;
    }
}

