.header {
    
    &__logo {
        font-size: 3.2rem;
        font-family: 'Fivo Sans', sans-serif;
        font-weight: 600;
        color: #ff6a6d;
    }

    &__nav {
        flex-basis: 67%;
        &-list {
            list-style: none;
            display: flex;
            justify-content: flex-end;
        }

        &-item {

            &:not(:first-child) {
                margin-left: 6rem;
            }
        }

        &-link {
            padding: .5rem;

            &:link,
            &:visited {
                text-decoration: none;
                color: #1c20567a;
            }

            &:hover {
                font-weight: 500;
                color: #ff6a6d;
                padding-left: .3rem;
            }


        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__btn {
        padding: .85rem 4.6rem;
    }
}

.main-content {
    margin-top: 15.8rem;
    padding: 0 11.7rem;

    max-width: 40%;
    
    &__heading {
        font-size: 5rem;
        line-height: 6rem;
        color: #3b3838;
        margin-bottom: 6.2rem;
    }

    &__text {
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.658);
        font-weight: 200;
        line-height: 4rem;
        width: 80%;
        margin-bottom: 7rem;
    }

    &__btn {
        padding: 2.65rem 8.6rem;
        font-size: 2rem;
        &:not(:last-child) {
            margin-right: 2.7rem;
        }    
    }
}