html {
    font-size: 62.5%;
    font-family: "Fivo Sans", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    background-color: #fbfcfc;
}

* {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
}

.container {
    width: 142rem;
    margin: 0 auto;
}