@font-face {
    font-family: 'Fivo Sans';
    src: url("../fonts/FivoSans-Heavy.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url("../fonts/FivoSans-Bold.otf");
    font-weight: 500;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url("../fonts/FivoSans-Regular.otf");
    font-weight: 300;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url("../fonts/FivoSans-Light.otf");
    font-weight: 200;
}