.header {
    background: url(../img/main-img.png) no-repeat;
    background-position: 0 -3rem;
    background-size: 100%;
    padding-top: 8.5rem;
    padding-bottom: 42rem;
}

.features {
    margin-top: -3rem;
    margin-bottom: 24rem;
}

.about-us {
    background: url(../img/about-us.png) no-repeat;
    background-position: 17% 0;
    background-size: 40%;
    padding-top: 6rem;
}

.heading--2 {
    font-size: 5rem;
    color: #3b3838;
    text-align: center;
    font-weight: 500;
}

.heading--3 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #3b3838;
}